$baseFontSize: 16px;

$white: #ffffff;
$black: #000000;
$colorLight: #f8f9fa;
$colorCCC: #ccc;
$colorGrey: #878787;
$colorDarker: #19202d;
$colorDark: #2d3748;
$colorBlue: #a5d5f8;
$colorGold: rgb(196, 166, 0);
$colorRed: #e66b6b;
$colorGreen: #6be675;

$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
